@using Entities.Concrete
@model List<Park>
@{
    ViewData["Title"] = "ListofCarParks";
}

<form>
    <div class="form-header">
        <a style="color:black; text-decoration: none;" href="/Home/Profile">My Profile</a>
        <br />
        <h1>List of Car Parks</h1>
    </div>
    <div class="link-container">

        <ol>
            @foreach (var item in Model)
            {
                <li><a href="/Home/ListOfSpots/@item.ParkId">@item.ParkName</a></li>
                <br />
            }
        </ol>
    </div>
</form>