@using Entities.Concrete
@model List<Spot>

@{
    ViewData["Title"] = "ListOfSpots";
}

<form action="#" method="post">
    <div class="form-header">
        <h3>Please select an empty parking space to reservate</h3>
    </div>
    @foreach (var item in Model)
    {
        <div class="input-container">
            @if (item.ful == false && item.broken == false)
            {
                <input type="hidden" name="spotId" value="@item.spotId" />
                <input type="submit" value="@item.SpotName" onclick="return confirm('Do you confirm parking? Reservation will be end in 15 minutes.')" style="background-color: green;">
            }
            else if (item.broken == true)
            {
                <input type="button" value="@item.SpotName Temporary not working!" style="background-color: red; color: white;" disabled>
            }
            else
            {
                <input type="button" value="@item.SpotName" style="background-color: red; color: white;" disabled>
            }
        </div>
    }
    <div class="link-container">
        <a href="/Home/ListofCarParks">Return to Car Park List</a>
    </div>
</form>