@using Entities.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "Reservations";
}

<table>
    <tr>
        <td>#</td>
        <td>Date</td>
        <td>Spot Place</td>
        <td>Cancel Reservation</td>
        <td>Full my place</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.reservationId</td>
        </tr>
    }
</table>